.edit_container {
	.block;
	min-height: 323px;
	
	@media (min-width: @big_phone) {
		width: @edit-width;
	}
	@media (min-width: @desktop) {
		position: fixed;
		height: 395px;
	}
	
	.group {
		margin-bottom: 12px;
		
		.label {
			margin-bottom: 6px;
		}
		input {
			width: 108px;
		}
		input[name="page_count"] {
			width: 48px;
		}
		input.alerted {
			border: 2px solid red;
		}
	}
}