mixin group(name, title, type)
	.group
		if (title)
			.label
				label(for=name)=title
		
		input(id=name class="bordered" name=name type=type || 'text')

.edit_container
	.block-title Настройки
	
	form#edit_form
		+group('id', '', 'hidden')
		+group('title', 'Название')
		+group('author', 'Автор')
		+group('publish_year', 'Год издания', 'number')
		+group('page_count', 'Кол-во страниц', 'number')
		
		.btns.center
			button#save_btn.btn(type='submit') Сохранить