#sort.block
	.block-title Сортировка
	
	form
		.group
			label(for="radio_author") По автору
			input#radio_author(type="radio" name="author")
		
		.group
			label(for="radio_title") По названию
			input#radio_title(type="radio" name="title")