#sort.block
	.block-title Сортировка
	
	form
		.group
			input#radio_author(type="radio" name="sort_field" value="author")
			label(for="radio_author") По автору
		
		.group
			input#radio_title(type="radio" name="sort_field" value="title")
			label(for="radio_title") По названию