* {
	box-sizing: border-box;
}

@black: #333;
@big_phone: 350px;

body {
	margin: 0;
	font: normal 14px 'Arial';
	width: 100%;
	color: @black;
}
.container {
	padding: 24px;
	
	@media (min-width: @big_phone) {
		padding: 32px;
	}
}
.block {
	padding: 16px;
	.bordered;
}

.center {
	text-align: center;
}
.pointer {
	cursor: pointer;
}
.noscroll {
	overflow: hidden;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.btn {
	font-size: 14px;
	background: #fff;
	box-shadow: 3px 2px @black;
	padding: 0.3em 1em;
	.pointer;
	.center;
	.bordered;
}
.btn:active {
	box-shadow: 2px 1px @black;
	margin: 1px 0 -1px 1px;
}

.btns {
	position: absolute;
	width: 100%;
	bottom: 16px;
	left: 0;
	
	.pull-left, .pull-right {
		width: 50%;
	}
	.pull-left {
		text-align: right;
		padding-right: 5px;
	}
	.pull-right {
		text-align: left;
		padding-left: 5px;
	}
}

.fixed {
	position: fixed;
	z-index: 1;
}
.fixed.middle {
	top: 50%;
	left: 50%;
}

.hidden {
	display: none;
}
.delay {
	transition: opacity .3s;
}
.bordered {
	border: 2px solid @black;
	border-radius: 2px;
}
.shown {
	opacity: 1;
}

@import "./base/base.less";
@import "./edit/edit.less";
@import "./list/list.less";