#list {
	.item {
		position: relative;
		margin-top: 16px;
		opacity: 0;
		height: 150px;
		.pointer;
		.delay;
		.block;
		
		.group {
			margin-bottom: 6px;
		}
		
		.tab {
			margin-left: 0.5em;
		}
		
		.btn {
			opacity: 0;
			.delay;
		}
		.edit_btn {
			width: 35px;
			height: 39px;
			background: data-uri('./edit.png');
		}
		.del_btn {
			width: 35px;
			height: 39px;
			background: data-uri('./del.png');
		}
	}
	.item:hover, .item.hovered {
		background: #ccc;
	}
	.item.shown, .item:hover .btn, .item.hovered .btn {
		.shown;
	}
}