#list

template#list_item_template
	.item(data-id!='{id}')
		.group!='{title}'
		
		.group
			span Автор:
			span.tab!='{author}'
		
		.btns
			.pull-left
				.edit_btn.btn
			.pull-right
				.del_btn.btn
